# Python byte-code
*.py[co]

# Python virtualenv directories.
/env*/

# coverage files
.coverage

# setup sdist, test and upload directories
/.tox/
/build/
/dist/
/patternmatching.egg-info/

.DS_Store
